.flex {
  display: flex;
}

.LanguageList {
  display: block;
  border: 2px solid rgb(217, 213, 213);
  border-radius: 30px;
  width: 150px;
  margin: 50px 50px; 
  padding: 100px;

  &__Body {
  }
  &__icon {
    width: 100px;
  }
}
