.flex {
    display: flex;
    margin: 0 30%;
}

.LanguageList {
    display: block;
    border: 1px solid rgb(217, 213, 213);
    border-radius: 20px;
    width: 70px;
    text-align: center;
    margin: 20px;
    padding: 20px 30px;

    &__Body {
    }
    &__icon {
        width: 70px;
    }
}
